<?xml version="1.0" encoding="UTF-8"?>

<beans 	xmlns="http://www.springframework.com/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XML_Schema-instance"
		xmlns:aop="http://www.springframework.com/schema/aop"
		xmlns:context="http://www.springframework.com/schema/context"
		xsi:schemaLocation="http://www.springframework.com/schema/beans http://www.springframework.com/schema/beans/spring-beans-2.0.xsd"
							http://www.springframework.com/schema/aop
							http://www.springframework.com/schema/aop/spring-aop-2.0.xsd
							http://www.springframework.com/schema/context
							http://www.springframework.com/schema/context/spring-context-2.5.xsd>

<context:annotation-config/>

<aop:aspectj-autoproxy/>

</beans>