<?xml version="1.0" encoding="UTF-8"?>
    
<beans	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="triangle" class="practica.model.Triangle">
		<property name="name" value="Triangle name" />
	</bean>
	
	<bean id="circle" class="practica.model.Circle">
		<property name="name" value="Circle name" />
	</bean>
	
	<bean id="shapeService" class="practica.services.ShapeService" autowire="byName"></bean>
	
	<bean id="loggingAspect" class="practica.aspect.LoggingAspect" />
	

	<context:annotation-config />
	
	<aop:aspectj-autoproxy />

</beans>